
/* NOTE: Comments made are merely to guide a visitor, Examples made after use, and for recreation purposes */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: 'poppins', sans-serif;
    line-height: 1.6em;
    font-size: 18px;
}

.button {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 12px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 55px;
  margin-left: 10px;
}

.button:hover{
  width: 250px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* mobile navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.active{
  position: relative;
  padding: 12px;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  z-index: 1;
}

.topnav a:hover {
  color: white;
}




  /*desktop sidebar navigation */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* main section */
  .main-section{
    transition: margin-left .5s;
    padding: 12px;
  }

  .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#auto-typing {
  font-size: 80px;
  padding: 10px;
  line-height: 1.4em;
}

.p{
  text-align: left;
  opacity: 0.4;
  padding: 12px 0;
  font-size: 26px;
}

.pro-p{
  padding-bottom: 16px;
}

.border-line{
  border-top:1px solid #fff;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 20px grey;
}

.abt-flex{
  text-align: left;
}

  #About, #Experience{
    padding: 0 18%;
    font-size: 25px;
    line-height: 1.8em;
  }  

  

  h3{
    padding: 22px 0 10px;
  }

  ul li{
    padding-bottom: 20px;
  }
  
  
  #Experience{
    text-align: left;
    margin: 120px 0;
  }

  #projects{
    height: 400px;
  }


  .p-contact{
    color: #fff;
  }

  .p-contact:hover{
    cursor: pointer;
    text-decoration: underline;
  }

    .Project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    align-content: center;
    padding: 12px;
    width: 100%;
    grid-gap: 30px;
  }

  .cards{
    min-height: 200px;
    width: 100%;
    border-radius: 8px;  
  }

  .card-imgs{
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 4px;
  }

  .card-text a{
    text-decoration: underline;
    color: #ddd;
    bottom: 0;
  }

  .card-text h2{
    font-size: 45px;
    padding: 20px 0;
  }

  .card-text a:visited{
    text-decoration: underline;
  }

  .project-btn{
    padding: 10px 4px;
    margin: 16px 12px 34px 12px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    width: 20%;
  }
  
  .project-btn:hover{
    background-color: #000;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
  }
  
  .a-btn{
    text-decoration: none;
    color: #000;
  }

  .h-p{
    width: 40%;
  }
  

  .footer-cont{
    padding: 12px;
    background-color: #000000;
  }

    .footer-border-line{
      border-top:1px solid #fff;
      padding-bottom: 30px;
      border-radius: 20px;
      box-shadow: 20px grey;
    }

  .contact-email-p{
    text-align: left;
    padding-bottom: 20px;
  }
  
  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
  }

  .social-head{
    text-align: center;
    padding: 50px 0 0;
  }
  
  /* Full-width input fields */
input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#message{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input[type=text]{
  margin: 0;
}

.error{
  color: red;
  font-size: 14px;
  display: block;
}

button {
  background-color: #333;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 30px 0 ;
  position: relative;
}

/* .avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
} */

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}



/* The modal (background) */
.mod {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal content */
.mod-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.confirmation-m{
  color: #000;
  padding-bottom: 12px;
}

/* Close button */
.cls {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 100%;
  width: 85%;
  border-radius: 50%;
}

.cls:hover,
.cls:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cls-cont{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.cls-cont:hover{
  border-color: #000;
}

/* Style the Proceed button */
#proceedButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}

#backToTopBtn:hover {
  background-color: #555;
}


  @media screen and (max-width: 665px){
    .topnav{
      display: block;
      width: 100%;
      margin-bottom: 22px;
    }

    .topnav #mylinks{
      z-index: 1;
    }

    .sidenav{
      display: none;
    }

    .span{
      display: none;
    }

    .main-section{
      margin: 0;
    }

    #auto-typing{
      font-size: 50px;
      padding-left: 14px;
      text-align: left;
      width: 300px;
      top: 12px;
    }

    .home-container{
      display: block;
      margin:50px 0 100px ;
      height: 360px;
    }

    .p{
      font-size: 26px;
    }

    #About, #Experience{
      width: 100%;
      padding: 16px;
      font-size: 20px;
      line-height: 1.8em;
    }  

    .abt1{
      width: 100%;
      text-align: left;
    }

    .border-line{
      border-radius: 50px;
    }

    #myButton{
      margin-left: 14px;
    }

    .project-btn{
      width: 100%;
      margin: 0;
    }

    .footer-cont{
      flex-wrap: wrap;
      /* width: 100%; */
    }

    button{
      width: 100%;
    }

    .cards{
      width: 100%;
    }

    .cls-cont{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #000;
      margin-bottom: 10px;
    }

    .confirmation-m{
      padding-bottom: 12px;
    }

    #backToTopBtn{
      right: 10px;
      bottom: 20px;
      width: 40%;
      border-radius: 6px;
    }
  }