/* NOTE: Comments made are merely to guide a visitor, Examples made after use, and for recreation purposes */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: 'poppins', sans-serif;
    line-height: 1.6em;
}

.button {
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 12px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 55px;
  margin-left: 10px;
}

.button:hover{
  width: 250px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  /* background-color: #ccc; */
  color: white;
}

  /* sidebar navigation */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* main section */
  .main-section{
    transition: margin-left .5s;
    padding: 12px;
  }

  .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #f00; */
    height: 500px;
}

#auto-typing {
  font-size: 80px;
  padding: 10px;
  line-height: 1.4em;
}

.p{
  text-align: left;
  opacity: 0.3;
  padding: 12px 0;
  font-size: 20px;
}

.border-line{
  border-top:1px solid #fff;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 20px grey;
}

.abt-flex{
  text-align: justify;
  /* border: 1px solid #f00; */
}

  .abt1{
    /* border: 1px solid red; */
  }

  
  
  #Experience{
    text-align: left;
    margin-top: 120px;
  }

  #projects{
    height: 400px;
  }
  /* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .overlay-text {
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
  
  .mySlides:hover .overlay {
    opacity: 1;
  }

  .active:hover .overlay {
    opacity: 1;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .footer-cont{
    bottom: 0;
    margin: 100px 0 0;
    background-color: #000000;
    padding: 12px;
  }

  .footer-cont h4{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 12px;
    text-decoration: underline;
  }
  
  .footer-cont P{
    text-align: center;
    padding: 40px 80px;
  }

  .footer-flexitems{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
  }

  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
  }

  .social-head{
    text-align: center;
    padding: 100px 0 0;
  }
  
  @media screen and (max-width: 665px){
    .topnav{
      display: block;
      width: 100%;
      margin-bottom: 22px;
    }

    .sidenav{
      display: none;
    }

    .span{
      display: none;
    }

    .main-section{
      margin: 0;
    }

    #auto-typing{
      font-size: 50px;
      padding-left: 14px;
      text-align: left;
      width: 300px;
      top: 12px;
    }

    .home-container{
      display: block;
      margin-bottom: 100px;
      height: 360px;
    }

    .p{
      font-size: 24px;
    }

    .abt-flex{
      flex-wrap: wrap-reverse;
    }

    .abt1{
      width: 100%;
      text-align: justify;
    }

    .abt2{
      width: 100%;
    }

    .border-line{
      border-radius: 50px;
    }

    .pro-counts{
      flex-wrap: wrap;
      align-items: center;
      margin-top: 40px;
    }

    #myButton{
      margin-left: 14px;
    }

    .footer-cont P{
      text-align: center;
      padding: 24px 0px;
    }

    .footer-flexitems{
      margin-top: 40px;
    }
  }